@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {

    @apply bg-bgDark text-textDark transition-colors duration-300 antialiased;
  }
}

#root {

  @apply min-h-screen flex flex-col;
}

::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-bgDark; 
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary; 
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

.framer-section {
  will-change: transform, opacity;
}